/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}
