<footer class="footer bg-dark text-light text-center py-4 row m-0">
  <div class="col-sm-4 container-fluid">
    <div class="cont-logo">
      <img src="/assets/imgs/logo2.png" class="logo2" alt>
      <img src="/assets/imgs/logo1.png" class="logo1" alt>
    </div>
  </div>
  <div class="col-sm-4 d-flex">
    <p class="m-auto">&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="dat d-flex text-start">
      <p class="col-10 my-1">Kevin Posada</p>
      <a href="https://github.com/kevposesp" target="_blank" class="col-1 my-1"><i
          i-bs name="github"></i></a>
      <a href="https://www.linkedin.com/in/kevposesp/" target="_blank"
        class="col-1 my-1"><i i-bs name="linkedin"></i></a>
    </div>
    <div class="dat d-flex text-start">
      <p class="col-10 my-1">David Moreno</p>
      <a href="https://github.com/davidmpenades/" target="_blank"
        class="col-1 my-1"><i i-bs name="github"></i></a>
      <a href="https://www.linkedin.com/in/david-moreno-1675a4248/"
        target="_blank" class="col-1 my-1"><i i-bs name="linkedin"></i></a>
    </div>
  </div>
</footer>
