<div class="container">
  <div class="card card-product-grid card-lg"
    [routerLink]="['/detail', data.slug]">
    <div class="cont-img">
      <img src="{{ data.imgs[0] }}" />
      <div class="like-cont">
        <i-bs name="heart" class="icon nactive" width="24" height="24">
        </i-bs>
        <i-bs name="heart-fill" class="icon active liked"
          width="24"
          height="24">
        </i-bs>
      </div>
    </div>

    <div class="info-wrap">
      <div class="row-4">
        <div class="col-md-12 col-xs-12 title">{{ data.title }}</div>
        <div class="col-md-12 col-xs-12">
          <span class="rated">Rated 4.0/5</span>
          <div class="rating text-right">
            <i-bs name="star-fill">
            </i-bs>
            <i-bs name="star-fill">
            </i-bs>
            <i-bs name="star-fill">
            </i-bs>
            <i-bs name="star-fill">
            </i-bs>
            <i-bs name="star">
            </i-bs>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-wrap-payment">
      <div class="info-wrap">
        <div class="row">
          <div class="col-md-9 col-xs-9">{{ data.price }} €</div>
        </div>
      </div>
    </div>
    <div class="bottom-wrap row-4 text-center">
      <a href="#" class="btn btn-outline-primary float-right" data-abc="true">
        Buy now
      </a>
    </div>
  </div>
</div>
