<div class="container">
  <div class="row">
    <app-search></app-search>
  </div>
  <div class="row">
    <app-carrousel [items]="categories">
      <ng-container *ngFor="let item of categories">
        <div class="col-md-{{carrousel.res.md}} col-lg-{{carrousel.res.lg}}">
          <app-card-category [data]="item"></app-card-category>
        </div>
      </ng-container>
    </app-carrousel>
  </div>
  <div class="row mb-5">
    <app-list-products [scrollOn]="true"></app-list-products>
  </div>

</div>
