<div class="p-2">
    <!-- Categorías -->
    <div class="mb-3">
        <h4>Categorías</h4>
        <select class="form-select" [(ngModel)]="filters2.category" (change)="setFilters()">
            <option selected value="">Todas las categorías</option>
            <option  *ngFor="let category of categories" [value]="category.slug">{{category.title}}</option>            
        </select>
    </div>
    <!-- Precios -->
    <div class="mb-3">
        <h4>Precios</h4>
        <input [(ngModel)]="filters2.price_min" type="number" (change)="setFilters()" name="precio_min" class="form-control" id="precio_min" placeholder="precio minimo">
        <input [(ngModel)]="filters2.price_max" type="number" (change)="setFilters()" name="precio_max" class="form-control mt-3" id="precio_max" placeholder="precio maximo">
    </div>
    <button type="button" class="btn btn-danger" (click)="deleteFilters()">Delete filters</button>
</div>